@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gap-responsive {
    gap: 6rem;
    transition: gap 0.3s ease-in-out;
  }

  @media (max-height: 900px) {
    .gap-responsive {
      gap: 4rem;
    }
  }

  @media (max-height: 700px) {
    .gap-responsive {
      gap: 2rem;
    }
  }

  @media (max-height: 500px) {
    .gap-responsive {
      gap: 1rem;
    }
  }
}

html,
body,
:root {
  height: 100%;
  background-color: #0c0c0d;
  color-scheme: black;


  --accent-color: #88b4fc;
  --inactive-text: #a8a6a6;
  --bg-color: #1a1a1a;
  --secondary-color: #3b82f6;
  --dark-bg: #28282B
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #88b4fc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a8ee0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb{
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.swiper {
  position: static !important;
}