@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .text-theme {
    @apply text-black dark:text-white;
  }
  .gap-responsive {
    gap: 6rem;
    transition: gap 0.3s ease-in-out;
  }

  @media (max-height: 900px) {
    .gap-responsive {
      gap: 4rem;
    }
  }

  @media (max-height: 700px) {
    .gap-responsive {
      gap: 2rem;
    }
  }

  @media (max-height: 500px) {
    .gap-responsive {
      gap: 1rem;
    }
  }
}

:root {
  height: 100%;
  color-scheme: dark; /* Fallback */
  --accent-color: #88b4fc;
  --inactive-text: #a8a6a6;
  --bg-color: #1a1a1a;
  --secondary-color: #3b82f6;
  --dark-bg: #0c0c0d;
  --light-bg: #f5f5f5;

  background-color: var(--dark-bg);
  color: white;
}

.dark {
  color-scheme: dark;
  --accent-color: #88b4fc;
  --inactive-text: #a8a6a6;
  --bg-color: #1a1a1a;
  --secondary-color: #3b82f6;
  --dark-bg: #0c0c0d;
  --light-bg: #f5f5f5;

  background-color: var(--dark-bg);
  color: white;
}

.light {
  color-scheme: light;
  --accent-color: #3b82f6;
  --inactive-text: #555555;
  --bg-color: #ffffff;
  --secondary-color: #2563eb;
  --dark-bg: #f0f0f0;
  --light-bg: #ffffff;

  background-color: var(--light-bg);
  color: black;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #88b4fc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a8ee0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb{
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.swiper {
  position: static !important;
}